:root {
  --primary: #483464;
  --dark: #483464;
  --grey: #726880;
  --bg: #fffffb;
  --highLight: #deffa2;
  --flash: #fb337e;
  --flash_light: #ff73a7;
  --link: #a750ff;
  --tagColor: #48346480;
  --tagBG: #ffffc3;
  --linkColor: #6c00ff;
}

* {
margin: 0px;
padding: 0px;
border: none;
box-sizing: border-box;
}

html {
height: 100%;
font-family: arial, sans-serif;
font-size: 18px;
}

body {
min-height: 100%;
background-color: var(--bg);
}

ul.no_bullet {
list-style: none;
}

.horizontal > li {
display: inline-block;
}

a {
text-decoration: none;
}

h1, h2, h3 {
font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, p {
color: var(--dark);
}

#topNav {
padding: 20px 0px;
border-bottom: 1px solid #e0e0e0;  
}

#topNav > li {
margin-right: 30px;
}

#topNav a {
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}

.textLink {
color: var(--linkColor);
}

.tags > li {
padding: 5px 10px;
font-size: 14px;
border-radius: 4px;
color: var(--dark);
background-color: var(--tagBG);
}

.tags > li + li {
margin-left: 6px;
}

footer {
position: sticky;
margin-top: 76px;
padding: 20px 0px;
top: 100%;
font-family: arial, sans-serif;
font-size: 14px;
color: var(--dark);
}

#copyright {
color: var(--grey);
}